<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form enctype="multipart/form-data" method="post" action="">
        {% csrf_token %}
        <input type="email" placeholder="enter email" name="email">
        <label for="myfile">Select a file:</label>
       <input type="file" id="myfile" name="photo">
        <input type="submit" value="Add">
    </form>
    {% for image in images %}
    <li>
    <img src="{{image.photo.url}}" alt="image" height="400px" width="300px"/>
    </li>
    {% endfor %}
</body>
</html>